Repository patrikcepr/romanisko-react: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn stylelint --fix, yarn stylelint --customSyntax postcss-scss --fix, yarn eslint --fix, yarn prettier --write

.lintstagedrc.json:

{
    "*.css": "yarn stylelint --fix",
    "*.{sass,scss}": "yarn stylelint --customSyntax postcss-scss --fix",
    "*.{ts,tsx}": ["yarn eslint --fix", "yarn prettier --write"],
    "*.{js}": ["yarn eslint --fix", "yarn prettier --write"],
    "*.{md,json}": "yarn prettier --write"
}

fix: firefox image width
  src/components/Layout/Hands/Hands.tsx
Due: yarn eslint --fix, yarn prettier --write

feat: web update 2024
  src/components/Layout/Price/Price.tsx
  src/components/Layout/Terapie/Terapie.tsx
Due: yarn eslint --fix, yarn prettier --write

feat: web update 2024 (#2)
  src/components/Layout/Price/Price.tsx
  src/components/Layout/Terapie/Terapie.tsx
Due: yarn eslint --fix, yarn prettier --write

feat: text update
  src/components/Layout/Price/Price.tsx
  src/components/Layout/Terapie/Terapie.module.scss
  src/components/Layout/Terapie/Terapie.tsx
  yarn.lock
Due: yarn stylelint --customSyntax postcss-scss --fix, yarn eslint --fix, yarn prettier --write

refactor: npm and basic update
  package-lock.json
  package.json
  yarn.lock
Due: yarn prettier --write

refactor: npm update
  package-lock.json
  package.json
  src/components/Layout/Terapie/Terapie.tsx
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

Content update 2024 (#4)
  package-lock.json
  package.json
  src/components/Layout/Price/Price.tsx
  src/components/Layout/Terapie/Terapie.module.scss
  src/components/Layout/Terapie/Terapie.tsx
  yarn.lock
Due: yarn stylelint --customSyntax postcss-scss --fix, yarn eslint --fix, yarn prettier --write

Content update 2024 (#4) (#5)
  package-lock.json
  package.json
  src/components/Layout/Price/Price.tsx
  src/components/Layout/Terapie/Terapie.module.scss
  src/components/Layout/Terapie/Terapie.tsx
  yarn.lock
Due: yarn stylelint --customSyntax postcss-scss --fix, yarn eslint --fix, yarn prettier --write

chore: migrate from CRA to Vite, update dependencies
  .github/workflows/ci.yml
  .gitignore
  .lintstagedrc.json
  index.html
  package-lock.json
  package.json
  public/index.html
  src/react-app-env.d.ts
  src/styles/_variables.scss
  src/styles/custom.scss
  tsconfig.json
  vite.config.mts
Due: yarn stylelint --customSyntax postcss-scss --fix, yarn eslint --fix, yarn prettier --write

chore: migrate from CRA to Vite, update dependencies (#6)
  .github/workflows/ci.yml
  .gitignore
  .lintstagedrc.json
  index.html
  package-lock.json
  package.json
  public/index.html
  src/react-app-env.d.ts
  src/styles/_variables.scss
  src/styles/custom.scss
  tsconfig.json
  vite.config.mts
Due: yarn stylelint --customSyntax postcss-scss --fix, yarn eslint --fix, yarn prettier --write

chore: migrate from CRA to Vite, update dependencies (#7)
  .github/workflows/ci.yml
  .gitignore
  .lintstagedrc.json
  index.html
  package-lock.json
  package.json
  public/index.html
  src/react-app-env.d.ts
  src/styles/_variables.scss
  src/styles/custom.scss
  tsconfig.json
  vite.config.mts
Due: yarn stylelint --customSyntax postcss-scss --fix, yarn eslint --fix, yarn prettier --write

chore: ci yml update
  .github/workflows/ci.yml
Due: none

automatic deploy (#8)
  .github/workflows/ci.yml
Due: none

fix: refine hero and practical info on mobile and tablet
  src/components/Layout/Hero/Hero.module.scss
  src/components/Layout/Hero/Hero.tsx
  src/components/Layout/Price/Price.module.scss
Due: yarn stylelint --customSyntax postcss-scss --fix, yarn eslint --fix, yarn prettier --write

feat: a11y and SEO improvements, recoloured artwork, new icons
  index.html
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/config.js
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/favicon.svg
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/og-image.jpg
  public/robots.txt
  public/sitemap.xml
  scripts/recolor-artwork.html
  src/assets/redesign/artwork/roman-artwork-full-900.webp
  src/assets/redesign/artwork/roman-artwork-full-palette-900.webp
  src/assets/redesign/artwork/roman-artwork-full-palette.webp
  src/assets/redesign/masks/brush-edge-left.webp
  src/assets/redesign/masks/brush-edge-top.webp
  src/assets/redesign/portrait/roman-portrait-landscape-3x2-640.webp
  src/components/Layout/Hero/Hero.module.scss
  src/components/Layout/Hero/Hero.tsx
  src/components/Layout/What/What.module.scss
  src/components/Layout/What/What.tsx
  src/components/Layout/Who/Who.module.scss
  src/components/Layout/Who/Who.tsx
  src/configuration.ts
  src/data/site.ts
  src/types/index.d.ts
Due: yarn stylelint --customSyntax postcss-scss --fix, yarn eslint --fix, yarn prettier --write

feat: prerender HTML at build time and add structured data
  .gitignore
  index.html
  package.json
  scripts/prerender.mjs
  src/components/Layout/Footer/index.tsx
  src/entry-server.tsx
  src/hooks/useReveal.ts
  src/index.tsx
Due: yarn eslint --fix, yarn prettier --write

chore: canonical https redirect and CRA leftovers cleanup
  .eslintrc.json
  .gitignore
  .prettierignore
  CHANGELOG.md
  README.md
  index.d.ts
  package-lock.json
  package.json
  public/.htaccess
  src/vite-env.d.ts
  tsconfig.json
  vite.config.mts
Due: yarn eslint --fix, yarn prettier --write

chore: přesměrování na https://www a úklid po CRA (#11)
  .eslintrc.json
  .gitignore
  .prettierignore
  CHANGELOG.md
  README.md
  index.d.ts
  package-lock.json
  package.json
  public/.htaccess
  src/vite-env.d.ts
  tsconfig.json
  vite.config.mts
Due: yarn eslint --fix, yarn prettier --write

fix(ci): keep hidden files (.htaccess) in the deploy artifact
  .github/workflows/ci.yml
Due: none

fix(ci): nahrávat i .htaccess při deployi (#13)
  .github/workflows/ci.yml
Due: none
